body {
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .app {
    background-color: #fff;
    width: 300px;
    height: 550px;
    border: 5px solid #ceb2a1;
    border-radius: 25px;
    padding: 10px;
  }

  #addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(206, 161, 191, 0.35);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .fa-plus {
    background-color: #cea1c4;
    padding: 3px;
    border-radius: 3px;
  }

  #msg {
    color: red;
  }

  #tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
  }
  
  #tasks div {
    border: 3px solid #a4a1ce;
    background-color: #e2eede;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
  }

  #tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
  }
  
  #tasks div .options i {
    cursor: pointer;
  }